.idea
.DS_Store
vendor
composer.lock
public/wp-content/plugins
public/wp-content/themes
public/wp-content/uploads
public/wp-content/updraft
public/wp-content/upgrade
public/wp-content/languages
public/wp
public/.well-known/
env/.env
